[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
edn-format = "*"
anaconda = "*"
jedi = "*"
black = "*"
isort = "*"
autoflake = "*"
ipython = "*"
mypy = "*"
ipdb = "*"
astor = "*"

[dev-packages]

[requires]
python_version = "3.10"
